# temporarily files
## for Mac
.DS_Store
._*

## for Windows
Desktop.ini
Thumbs.db

# npm temporarily files
npm-debug.log

# Dependency directory
node_modules/*

# exclude itself for `npm run lint`
!node_modules/eslint-config-foray1010
